{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": ["src"]
    },
    "mutators": {
        "@default": true,
        "CastInt": {
            "ignore": ["Tiime\\MonologMasker\\Matcher\\CreditCardMatcher::passesLuhn"]
        },
        "GreaterThan": {
            "ignore": ["Tiime\\MonologMasker\\Matcher\\CreditCardMatcher::passesLuhn"]
        },
        "PlusEqual": {
            "ignore": ["Tiime\\MonologMasker\\Matcher\\CreditCardMatcher::passesLuhn"]
        },
        "UnwrapArrayValues": {
            "ignore": ["Tiime\\MonologMasker\\Matcher\\ChainValueMatcher::__construct"]
        }
    },
    "logs": {
        "text": "build/infection.log"
    },
    "tmpDir": "build/infection",
    "minMsi": 100,
    "minCoveredMsi": 100
}
